# Data Merging

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# importing orders and products data frames
path = r'C:\Users\muham\OneDrive\Desktop\careerfoundry\Data Immersion\Achievement 4\15-08-2025 Instacart Basket Analysis'
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [3]:
# check the output 
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [4]:
df_ords.shape

(3421083, 9)

In [5]:
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_first_order
0,0,0,2539329,1,1,2,8,NaN,1
1,1,1,2398795,1,2,3,7,15.0,0
2,2,2,473747,1,3,3,12,21.0,0
3,3,3,2254736,1,4,4,7,29.0,0
4,4,4,431534,1,5,4,15,28.0,0

In [6]:
df_ords_prior.shape

(32434489, 4)

In [8]:
# merging the two data frames
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [9]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_first_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,1,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,1,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,1,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,1,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,1,26405,5,0,both

In [10]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [11]:
# exporting the merged data frame
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [12]:
df_merged_large.shape

(32434489, 13)